[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "sshfindagent"]
	path = sshfindagent
	url = https://github.com/jrs65/ssh-find-agent
[submodule "zsh/history-substring-search"]
	path = zsh/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/fsh"]
	path = zsh/fsh
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "zsh/autosuggestions"]
	path = zsh/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/p10k"]
	path = zsh/p10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/ssh-agent"]
	path = zsh/ssh-agent
	url = https://github.com/twang817/zsh-ssh-agent
[submodule "zsh/aphrodite-theme"]
	path = zsh/aphrodite-theme
	url = https://github.com/win0err/aphrodite-terminal-theme
